.row {
  display: flex;
  text-align: center;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.cell.red {
  background: red;
}

.cell.blue {
  background: blue;
}

.drop .cell.red {
  background: lightcoral;
}

.drop .cell.blue {
  background: lightblue;
}

.drop .cell {
  border: 1px solid white;
}
